.container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(15, 2, 76);
    padding: 10px;
    gap: 5px;
    
    }
    .container > div {
        background-color: rgb(175, 217, 247);
        border: 1px solid black;
        font-size: 30px;
        text-align: center;
    }
    body {
        background-color: rgb(170, 201, 244);
    }